div {
  background-color: #e4f9f5;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
}
h3 {
  color: #11999e;
}

a {
  color: #11999e;
}

img {
  border-radius: 50%;
}

.first-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code {
  width: 25%;
}

.programming {
  width: 25%;
}

p {
}

.intro {
  width: 30%;
  margin: auto;
  font-size: 40px;
  margin: 100px auto;
}

ul li {
  font-size: 40px;
}

hr {
  border: dotted #e4f6f6 6px;
  border-bottom: none;
  width: 4%;
}

.contact-message {
  width: 40%;
  font-size: 40px;
  margin: 40px auto 60px;
}

.btn {
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 8px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 30px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.btn:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}
.btn:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  font-size: 20;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

a {
  color: #11999e;
  font-size: 30px;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 25px;
  padding: 20px 0;
}
